<div class="mt-25 mx-1">


  <owl-carousel-o [options]="customOptions">

    <ng-template carouselSlide>
      <img src="/bannar/Back-to-school.webp" class="w-full rounded-4xl max-h-[20rem]" alt="">
    </ng-template>

    <ng-template carouselSlide>
      <img src="/bannar/Camera-Ezviz-Tapo.webp" class="w-full rounded-4xl  max-h-[20rem]" alt="">
    </ng-template>

    <ng-template carouselSlide>
      <img src="/bannar/Mobile-Phones.webp" class="w-full rounded-4xl max-h-[20rem] "
        alt="">
    </ng-template>

    <ng-template carouselSlide>
      <img src="/bannar/Macbook_1.webp" class="w-full rounded-4xl  max-h-[20rem]" alt="">
    </ng-template>
    

  </owl-carousel-o>

</div>