:host ::ng-deep .p-badge {
  border-radius: 50%;
  min-width: 32px;
  font-size: 1rem;
  height: 33px;
}


.active{
  background-color: #5CD2DA;
  padding-inline: 4px;
  padding-top: 2px;
    padding-bottom: 2px;
    color: white;

}