<section class="flex justify-center  dark:bg-gray-500 sm:my-5 md:py-10 items-center ">





    <div class="card w-full max-w-[80%] sm:max-w-[50%]  md:max-w-[40%] lg:max-w-[35%]">
        <p-stepper [value]="1" [linear]="true" >


            <p-step-item [value]="1">
                <p-step>Enter your email adress</p-step>
                <p-step-panel>
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div
                                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">


                                <form [formGroup]="forgetEmailForm"
                                    class="w-[85%] max-w-80  py-5 p-2  md:w-[60%]  lg:w-[80%] lg:max-w-96 xl:max-w-lg ">


                                    <!-- email input -->
                                    <app-input [control]="forgetEmailForm.get('email')" [typeInput]="'email'"
                                        [idInput]="'email'" [placeHolder]="'ahmed.mohamed@gmail.com'"
                                        [labelInput]="'Email address'"></app-input>

                                </form>



                            </div>
                        </div>
                        <div class="py-6">
                            <p-button label="Next" (onClick)="loginSubmit1(activateCallback)" />
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-item>







            <p-step-item [value]="2">
                <p-step>enter code</p-step>
                <p-step-panel>
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div
                                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">




                                <form [formGroup]="getCodeForm"
                                    class="w-[85%] max-w-80  py-5 p-2  md:w-[60%]  lg:w-[80%] lg:max-w-96 xl:max-w-lg ">


                                    <app-input [control]="getCodeForm.get('resetCode')" [typeInput]="'text'"
                                        [idInput]="'code'" [placeHolder]="'enter code'" [labelInput]="'code'">
                                    </app-input>

                                </form>



                            </div>
                        </div>
                        <div class="flex py-6 gap-2">
                            <p-button label="Back" severity="secondary" (onClick)="activateCallback(1)" />
                            <p-button label="Next" (onClick)="loginSubmit2(activateCallback)" />
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-item>










            <p-step-item [value]="3">
                <p-step>type new password</p-step>
                <p-step-panel>
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div
                                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">


                                <form [formGroup]="resetPasswordForm"
                                    class="w-[85%] max-w-80  py-5 p-2  md:w-[60%]  lg:w-[80%] lg:max-w-96 xl:max-w-lg ">


                                    <app-input [control]="resetPasswordForm.get('email')" [typeInput]="'email'"
                                        [idInput]="'resetEmail'" [placeHolder]="'ahmed.mohamed@gmail.com'"
                                        [labelInput]="'Email address'"></app-input>


                                    <app-input [control]="resetPasswordForm.get('newPassword')" [idInput]="'password'"
                                        [placeHolder]="'•••••••••'" [labelInput]="'new Password'">

                                        assword must be at least 8 characters, include uppercase,
                                        lowercase, number, and special character.
                                    </app-input>


                                </form>



                            </div>
                        </div>
                        <div class="py-6">
                            <p-button label="Change Password" severity="secondary" (onClick)="loginSubmit3()" />
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-item>



        </p-stepper>
    </div>







    <img class="hidden sm:w-[50%] sm:block  md:w-[40%]  lg:w-[30%] xl:w-[25%]  " src="/forget.png" alt="">


</section>